<!DOCTYPE html>
<html ng-app="revenge" lang="en">
  <head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-chosen/bootstrap.css" />
    <style type="text/css">
      .chosen-container-single .chosen-single {
      height: 46px;
      font-size: 27px;
      line-height: 46px;
      }
    </style>
    <script type="text/javascript"
            src="players.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  </head>
  <body style="padding: 2em;">
    <div ng-controller="DraftController as draftCtrl" class="container-fluid">
      <div class="row">
        <form ng-submit="draftCtrl.submit_pick()">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              Pick #{{draftCtrl.current_pick}}
              (Round {{draftCtrl.get_current_round()}},
              Pick {{draftCtrl.get_round_pick()}}):
            </span>
            <select chosen class="form-control" ng-model="draftCtrl.player_selected"
                    ng-options="player.name group by player.pos for player in draftCtrl.all_players" required></select>
            <span class="input-group-btn">
              <button class="btn btn-default btn-success" type="submit">Submit Pick</button>
            </span>
          </div>
          <h3>
            <span style="margin-right:.7em;" class="label label-danger" ng-show="draftCtrl.picking_now()">
              PICKING NOW!
            </span>
            Your next pick is #{{draftCtrl.user_nplus_pick(1)}}, followed by #{{draftCtrl.user_nplus_pick(2)}}
          </h3>
        </form>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="position in draftCtrl.positions">
          <h1>{{position}} <span class="label label-info label-">VORP: {{draftCtrl.get_vorp(position) | number : 1}}</span></h1>
          <h2>Available now:</h2>
          <table width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Proj</th>
                <th>Tier</th>
                <th>ADP</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in draftCtrl.player_list(position)">
                <td>{{player.name}}</td>
                <td>{{player.projected_pts}}</td>
                <td>n/a</td>
                <td>{{player.adp}}</td>
              </tr>
            </tbody>
          </table>
          <h2>Likely available next round:</h2>
          <table width="100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Proj</th>
                <th>Tier</th>
                <th>Prob</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript"
            src="ng-grid/ng-grid-2.0.12.debug.js"></script>
    <script type="text/javascript"
            src="bower_components/chosen/chosen.jquery.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-chosen-localytics/chosen.js"></script>
    <script type="text/javascript"
            src="app.js"></script>
  </body>
</html>
